In [7]:

class Items:

  def __init__(self, name, price, count):
        
        self.name = name
        self.price = price
        self.count = count

  def sales_tax(self):
        
        rnd_st = 0
        if self.name not in ['Book', 'Da Vinci Code', 'Harry Potter', 'Head First', 'Chocolate', 'Rice', 'Wheat', 'Oil',
                        'Medicine', 'Meds', 'Paracetamol', 'Betadine']:
            st = self.count * self.price * 0.1
            rnd_st = round(st, 2)
        
        return rnd_st

  def import_duty(self):
        
        idty = 0
        if "imported" in self.name:
            idty = float(self.count * self.price * 0.05)
            
        return idty

  def tot_cost(self):
        
        st = self.sales_tax()
        idty = self.import_duty()
        tot_price = self.count * self.price
        cost = float(tot_price + st + idty)
        
        return cost

  def print_item(self):       

        print(self.count, "", self.name, ":", self.tot_cost())

In [9]:
 def main():        
    n = int(input("Number of types of items bought: "))
    n1 = n
        
    item_list = [None] * n
    price_list = [None] * n
    count_list = [None] * n
    total_cost = 0
    tot_sales_tax = 0

    while(n1 > 0):
      count_list[n - n1] = int(input("Number of item: "))
      item_list[n - n1] = input('Name of item: ')
      price_list[n - n1] = int(input("Price of item: "))
      n1 = n1 - 1
            
    n2 = n
        
    while(n2 > 0):
            
      name = item_list[n - n2]
      price = price_list[n - n2]
      count = count_list[n - n2]
            
      Item_obj = Items(name, price, count)
      Item_obj.print_item()

      tot_sales_tax = tot_sales_tax + Item_obj.sales_tax()
      total_cost = total_cost + Item_obj.tot_cost()
      n2 = n2 - 1
        
    print("Sales Taxes: ", tot_sales_tax, "Amount: ", total_cost)

if __name__ == '__main__':
        main()

Number of types of items bought: 2
Number of item: 1
Name of item: Gold
Price of item: 900
Number of item: 4
Name of item: imported chocolate
Price of item: 10
1  Gold : 990.0
4  imported chocolate : 46.0
Sales Taxes:  94.0 Amount:  1036.0